version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "02:00"
      timezone: Europe/Paris
    open-pull-requests-limit: 10
    versioning-strategy: increase
    groups:
      babel-dependencies:
        patterns:
          - "*babel*"
      aws-sdk-dependencies:
        patterns:
          - "*aws-sdk*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      time: "02:00"
      timezone: Europe/Paris
    open-pull-requests-limit: 10
