name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Quality checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'yarn'
      - run: yarn install
      - run: yarn build
      - run: yarn lint

  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'yarn'
      - run: yarn install
      - run: yarn test
